<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.demo.dao.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.workflow.demo.entity.system.Role">
		<id column="ROLE_ID" property="roleId" />
		<result column="ROLE_NAME" property="roleName" />
		<result column="RIGHTS" property="rights" />
		<result column="PARENT_ID" property="parentId" />
		<result column="ADD_QX" property="addQx" />
		<result column="DEL_QX" property="delQx" />
		<result column="EDIT_QX" property="editQx" />
		<result column="CHA_QX" property="chaQx" />
		<result column="RNUMBER" property="rnumber" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID AS roleId, ROLE_NAME AS roleName, RIGHTS AS rights, PARENT_ID AS parentId, ADD_QX AS addQx, DEL_QX AS delQx, EDIT_QX AS editQx, CHA_QX AS chaQx, RNUMBER AS rnumber
    </sql>

</mapper>
